<div class="container">
  <div class="weather-app-wrapper">
    <div class="weather-app">
      <h1 class="title"> Historial de {{userName}} </h1>
      @for( user of historial; track user.ciudad){
        <div class="row" class="history-item">
          <span class="city">Ciudad: <span>{{user.historial}}</span></span>
          <span class="date">Fecha: <span>{{user.fecha}}</span></span>
        </div>
      }
    <hr/>
    <small>
      <a href="https://github.com/jotad9" target="_blank">Hecho</a>
      by Juan Daniel
    </small>
    </div>
  </div>
</div>
